Repository Hows-the-Air-Today/HAT-backend-spring-boot, pull requests merged in 2023-04, with the labels that each got.

#26 📌 build: manifest attribute 정의
  air-quality-app-batch/build.gradle
Labels: 🐞 BugFix

#25 ✨ feat(HAT-84): 회원 정보 생성 기능
  build.gradle
  member-app-external-api/src/main/java/io/howstheairtoday/MemberAppExternalApiApplication.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/common/ApiResponse.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/controller/MemberController.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/service/ExternalMemberService.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/service/MemberDetailsService.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/service/dto/request/MemberLoginRequestDTO.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/service/dto/request/MemberRequestDTO.java
  member-app-external-api/src/test/java/io/howstheairtoday/memberappexternalapi/service/ExternalMemberServiceTest.java
  member-domain-rds/src/main/generated/io/howstheairtoday/memberdomainrds/entity/QBaseTimeEntity.java
  member-domain-rds/src/main/generated/io/howstheairtoday/memberdomainrds/entity/QMember.java
  member-domain-rds/src/main/java/io/howstheairtoday/memberdomainrds/entity/Member.java
Labels: 🔰BE, 📬 API, ✅ Test, ⚙ Setting

#28 📌 build: manifest attribute 정의
  air-quality-app-batch/build.gradle
  air-quality-app-batch/src/test/java/io/howstheairtoday/airqualityappbatch/service/ServiceTests.java
  air-quality-app-external-api/build.gradle
  community-app-external-api/build.gradle
  member-app-external-api/build.gradle
Labels: 🐞 BugFix

#29 ✨ feat(HAT-157): Access Token and Refresh Token
  member-app-external-api/build.gradle
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/exception/AccessTokenException.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/exception/RefreshTokenException.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/security/config/CustomSecurityConfig.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/security/config/RootConfig.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/security/filter/MemberLoginFilter.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/security/filter/RefreshTokenFilter.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/security/filter/TokenCheckFilter.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/security/service/MemberDetailsService.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/security/service/handler/MemberLoginSuccessHandler.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/security/util/JWTUtil.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/service/handler/MemberLoginSuccessHandler.java
  member-app-external-api/src/test/java/io/howstheairtoday/memberappexternalapi/security/util/JWTUtilTest.java
  module-core/build.gradle
  module-core/src/main/java/io/howstheairtoday/modulecore/ModuleCoreApplication.java
Labels: 🔰BE, 📬 API, ✨ Feature, ⚙ Setting, ♻ Refactor

#30 ✅ test(HAT-179): 미세먼지 실시간 측정정보 호출 Test 수정
  air-quality-app-batch/src/test/java/io/howstheairtoday/airqualityappbatch/service/ServiceTests.java
Labels: 🔰BE, ✅ Test

#31 ✨ feat(hat-66): 대기질 실시간 측정정보 조회
  air-quality-app-batch/src/main/java/io/howstheairtoday/service/AirQualityRealTimeService.java
  air-quality-app-batch/src/test/java/io/howstheairtoday/airqualityappbatch/service/AirQualityRealTimeServiceTest.java
  air-quality-app-external-api/src/main/java/io/howstheairtoday/appairqualityexternalapi/controller/AirQualityRealTimeController.java
  air-quality-app-external-api/src/main/java/io/howstheairtoday/appairqualityexternalapi/service/AirQualityRealTimeService.java
  air-quality-app-external-api/src/main/resources/application.yaml
  air-quality-app-external-api/src/test/java/io/howstheairtoday/airqualityappexternalapi/controller/AirQualityRealTimeControllerTest.java
  air-quality-app-external-api/src/test/java/io/howstheairtoday/airqualityappexternalapi/service/AirQualityRealTimeServiceTest.java
  air-quality-domain-rds/src/main/java/io/howstheairtoday/airqualitydomainrds/dto/request/CurrentDustRequestDTO.java
  air-quality-domain-rds/src/main/java/io/howstheairtoday/airqualitydomainrds/dto/response/CurrentDustResponseDTO.java
  air-quality-domain-rds/src/main/java/io/howstheairtoday/airqualitydomainrds/repository/AirQualityRealTimeRepository.java
  air-quality-domain-rds/src/test/java/io/howstheairtoday/airqualitydomainrds/AirQualityRealTimeRepositoryTest.java
  build.gradle
Labels: 🔰BE, 📬 API

#33 ✨ feat(HAT-186): CORS 설정
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/security/config/CustomSecurityConfig.java
Labels: 🔰BE, 🎭 Accessibility, ✨ Feature

#35 ✨Feat(HAT-46): 대기질 실시간 측정정보 batch
  air-quality-app-batch/build.gradle
  air-quality-app-batch/src/main/java/io/howstheairtoday/AirQualityAppBatchApplication.java
  air-quality-app-batch/src/main/java/io/howstheairtoday/batch/configuration/BatchConfiguration.java
  air-quality-app-batch/src/main/java/io/howstheairtoday/batch/listener/JobCompletionNotificationListener.java
  air-quality-app-batch/src/main/java/io/howstheairtoday/batch/scheduler/SchedulerConfiguration.java
  air-quality-app-batch/src/main/java/io/howstheairtoday/service/AirQualityRealTimeService.java
  air-quality-app-batch/src/test/java/io/howstheairtoday/airqualityappbatch/AirQualityAppBatchApplicationTests.java
  air-quality-app-batch/src/test/java/io/howstheairtoday/airqualityappbatch/service/AirQualityRealTimeServiceTest.java
  air-quality-domain-rds/src/main/java/io/howstheairtoday/airqualitydomainrds/entity/BaseEntity.java
Labels: 🔰BE, ✨ Feature

#36 ✨ feat(HAT-55): 게시물 댓글 수정기능
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/controller/CommentController.java
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/service/CommentService.java
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/service/dto/request/CommentRequestDTO.java
  community-app-external-api/src/test/java/io/howstheairtoday/appcommunityexternalapi/controller/CommentControllerTest.java
  community-app-external-api/src/test/java/io/howstheairtoday/appcommunityexternalapi/service/CommentServiceTest.java
  community-domain-rds/build.gradle
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/entity/Comment.java
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/repository/CommentRepository.java
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/service/DomainCommunityService.java
  community-domain-rds/src/test/java/io/howstheairtoday/communitydomainrds/repository/CommentRepositoryTest.java
Labels: 🔰BE, 📬 API, ✨ Feature, ✅ Test

#37 ♻️ refactor: 회원가입 기능 리팩터링
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/common/ApiResponse.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/common/MemberExceptionHandler.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/controller/AuthController.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/controller/MemberController.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/exception/DuplicationIdException.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/exception/DuplicationNicknameException.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/exception/PasswordNotMatchedException.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/service/AuthService.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/service/ExternalMemberService.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/service/dto/request/MemberRequestDTO.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/service/dto/request/SignUpRequestDTO.java
  member-app-external-api/src/test/java/io/howstheairtoday/memberappexternalapi/service/AuthServiceTest.java
  member-app-external-api/src/test/java/io/howstheairtoday/memberappexternalapi/service/ExternalMemberServiceTest.java
  member-domain-rds/src/main/java/io/howstheairtoday/memberdomainrds/repository/MemberRepository.java
  member-domain-rds/src/test/java/io/howstheairtoday/memberdomainrds/repository/MemberRepositoryTest.java
  module-security/src/main/java/io/howstheairtoday/filter/TokenCheckFilter.java
Labels: 🔰BE, 📬 API, ✨ Feature, ♻ Refactor

#38 ✨ feat(HAT-56): 게시물 댓글 삭제기능
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/controller/CommentController.java
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/service/CommentService.java
  community-app-external-api/src/test/java/io/howstheairtoday/appcommunityexternalapi/controller/CommentControllerTest.java
  community-app-external-api/src/test/java/io/howstheairtoday/appcommunityexternalapi/service/CommentServiceTest.java
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/common/BaseTimeEntity.java
Labels: 🔰BE, 📬 API, ✨ Feature, ✅ Test

#39 ♻️ refactor(HAT-179): 대기질 실시간 측정정보 호출 API Test 변경
  air-quality-app-external-api/src/test/java/io/howstheairtoday/airqualityappexternalapi/service/AirQualityRealTimeServiceTest.java
Labels: 🐞 BugFix, ✅ Test

#40 ✨ feat(HAT-75): 회원 정보 조회 기능
  air-quality-app-external-api/src/main/resources/application.yaml
  build.gradle
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/controller/AuthController.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/service/AuthService.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/service/dto/response/ProfileResponseDto.java
  module-security/build.gradle
  module-security/src/main/java/io/howstheairtoday/config/CustomServletConfig.java
  module-security/src/main/java/io/howstheairtoday/filter/TokenCheckFilter.java
Labels: 🔰BE, 📬 API, ✨ Feature, ✅ Test

#43 ✨ feat(HAT-97): 회원 정보 수정
  member-app-external-api/src/main/java/io/howstheairtoday/MemberAppExternalApiApplication.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/common/ApiResponse.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/common/MemberExceptionHandler.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/controller/AuthController.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/exception/ConflictException.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/exception/NotFoundException.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/service/AuthService.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/service/dto/request/ChangePasswordRequestDto.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/service/dto/request/ModifyNicknameRequestDto.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/service/dto/request/ModifyProfileImageRequestDto.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/service/dto/response/ChangePasswordResponseDto.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/service/dto/response/ModifyNicknameResponseDto.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/service/dto/response/ProfileImageResponseDto.java
  member-domain-rds/src/main/java/io/howstheairtoday/memberdomainrds/entity/Member.java
  member-domain-rds/src/test/java/io/howstheairtoday/memberdomainrds/repository/MemberRepositoryTest.java
Labels: 🔰BE, 📬 API, ✨ Feature

#45 ♻️ refactor(HAT-66): TM 좌표 관련 메서드 제거 후 근처 측정소 찾는 API
  air-quality-app-external-api/src/main/java/io/howstheairtoday/appairqualityexternalapi/controller/AirQualityRealTimeController.java
  air-quality-app-external-api/src/main/java/io/howstheairtoday/appairqualityexternalapi/service/AirQualityRealTimeService.java
  air-quality-app-external-api/src/test/java/io/howstheairtoday/airqualityappexternalapi/controller/AirQualityRealTimeControllerTest.java
  air-quality-app-external-api/src/test/java/io/howstheairtoday/airqualityappexternalapi/service/AirQualityRealTimeServiceTest.java
Labels: 🐞 BugFix, ♻ Refactor

#44 ✨ feat(HAT-71): 게시글수정기능
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/controller/PostController.java
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/exception/CommonBusinessException.java
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/exception/GlobalExceptionHandler.java
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/exception/dto/ErrorDto.java
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/exception/dto/ErrorMessage.java
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/exception/posts/PostNotExistException.java
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/service/ExternalPostService.java
  community-app-external-api/src/test/java/io/howstheairtoday/appcommunityexternalapi/service/ExternalPostServiceTest.java
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/entity/Post.java
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/entity/PostImage.java
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/repository/PostRepository.java
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/service/DomainCommunityService.java
  community-domain-rds/src/test/java/io/howstheairtoday/communitydomainrds/repository/PostRepositoryTest.java
Labels: 🔰BE, 📬 API, ✨ Feature

#47 ♻️ refactor(HAT-228): Add a MemberId value to the Access Token
  member-app-external-api/src/test/java/io/howstheairtoday/memberappexternalapi/security/util/JwTUtilTest.java
  module-security/src/main/java/io/howstheairtoday/config/CustomSecurityConfig.java
  module-security/src/main/java/io/howstheairtoday/filter/RefreshTokenFilter.java
  module-security/src/main/java/io/howstheairtoday/service/handler/LoginSuccessHandler.java
  module-security/src/main/java/io/howstheairtoday/util/JwtUtil.java
Labels: 🔰BE, ✅ Test, ⚙ Setting, ♻ Refactor

#41 ✨ feat(HAT-53): 게시물 댓글 조회기능
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/controller/CommentController.java
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/service/CommentService.java
  community-app-external-api/src/test/java/io/howstheairtoday/appcommunityexternalapi/controller/CommentControllerTest.java
  community-app-external-api/src/test/java/io/howstheairtoday/appcommunityexternalapi/service/CommentServiceTest.java
  community-domain-rds/build.gradle
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/dto/CommentPageDTO.java
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/dto/CommentPageListDTO.java
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/entity/Comment.java
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/repository/CommentRepository.java
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/service/DomainCommunityService.java
Labels: 🔰BE, 📬 API, ✨ Feature, ✅ Test

#48 ✨ feat(HAT-72): 게시글삭제기능
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/controller/PostController.java
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/service/ExternalPostService.java
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/service/dto/request/PostRequestDto.java
  community-app-external-api/src/test/java/io/howstheairtoday/appcommunityexternalapi/service/ExternalPostServiceTest.java
  community-domain-rds/src/test/java/io/howstheairtoday/communitydomainrds/repository/PostRepositoryTest.java
Labels: 🔰BE, 📬 API, ✨ Feature

#50 ✨feat(HAT-230): 지역별 커뮤니티 게시물상세
  build.gradle
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/controller/PostController.java
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/service/ExternalPostService.java
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/service/dto/response/PostResponseDto.java
  community-app-external-api/src/test/java/io/howstheairtoday/appcommunityexternalapi/service/ExternalPostServiceTest.java
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/entity/Post.java
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/entity/PostImage.java
  community-domain-rds/src/test/java/io/howstheairtoday/communitydomainrds/repository/PostRepositoryTest.java
Labels: 🔰BE, 📬 API, ✨ Feature

#51 ✨ feat(HAT-57): 게시물 좋아요 기능
  build.gradle
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/controller/LikeController.java
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/service/LikeService.java
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/service/dto/request/LikeRequestDTO.java
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/service/dto/response/LikeResponseDTO.java
  community-app-external-api/src/test/java/io/howstheairtoday/appcommunityexternalapi/service/LikeServiceTest.java
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/entity/Like.java
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/repository/LikeRepository.java
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/service/DomainCommunityService.java
  community-domain-rds/src/test/java/io/howstheairtoday/communitydomainrds/repository/LikeRepositoryTest.java
  member-domain-rds/src/test/java/io/howstheairtoday/memberdomainrds/repository/MemberRepositoryTest.java
Labels: 🔰BE, 📬 API, 📚 DB, ✨ Feature, ✅ Test

#52 ✨ feat(HAT-245): 로그아웃 기능 구현
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/controller/AuthController.java
  module-security/src/main/java/io/howstheairtoday/config/CustomSecurityConfig.java
  module-security/src/main/java/io/howstheairtoday/filter/TokenCheckFilter.java
Labels: 🔰BE, 📬 API, ✨ Feature

#57 ✨feat(HAT-73): 게시물 조회 기능
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/controller/PostController.java
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/service/ExternalPostService.java
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/service/dto/request/PostRequestDto.java
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/service/dto/response/PostExternalDto.java
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/service/dto/response/PostResponseDto.java
  community-app-external-api/src/test/java/io/howstheairtoday/appcommunityexternalapi/service/ExternalPostServiceTest.java
  community-domain-rds/build.gradle
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/entity/Post.java
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/entity/PostImage.java
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/querydsl/PostQslImpl.java
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/repository/PostQslRepository.java
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/service/DomainCommunityService.java
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/service/dto/PostDomainResponseDto.java
  community-domain-rds/src/test/java/io/howstheairtoday/communitydomainrds/repository/PostRepositoryTest.java
Labels: 🔰BE, 📬 API, ✨ Feature

#60 ♻️ refector: Post API 통일
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/controller/PostController.java
Labels: ♻ Refactor

#58 ✨ feat(HAT-101): 회원 탈퇴 기능
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/controller/SampleController.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/controller/AuthController.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/controller/SampleController.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/service/AuthService.java
  member-domain-rds/src/main/java/io/howstheairtoday/memberdomainrds/entity/BaseTimeEntity.java
  member-domain-rds/src/main/java/io/howstheairtoday/memberdomainrds/repository/MemberRepository.java
  module-security/src/main/java/io/howstheairtoday/service/MemberDetailsService.java
Labels: 🔰BE, 📬 API, ✨ Feature

#64 ✨ feat(HAT-304): 좋아요댓글관계매핑 인기게시글 조회
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/entity/Comment.java
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/entity/Like.java
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/entity/Post.java
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/querydsl/PostQslImpl.java
Labels: 🔰BE, 📬 API, ✨ Feature

#65 ♻️ refactor: 회원가입 및 S3 업로드 코드 수정
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/controller/AuthController.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/service/AuthService.java
Labels: 🔰BE, ♻ Refactor

#66 ♻️ refactor(HAT-311): 게시물작성수정
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/service/ExternalPostService.java
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/service/dto/request/PostRequestDto.java
  community-app-external-api/src/test/java/io/howstheairtoday/appcommunityexternalapi/service/ExternalPostServiceTest.java
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/entity/Post.java
Labels: 🔰BE, 📬 API, ♻ Refactor

#67 ♻️ refactor(HAT-315): 게시글삭제수정
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/config/CorsConfig.java
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/controller/PostController.java
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/service/ExternalPostService.java
Labels: 🔰BE, 📬 API, ♻ Refactor

#69 ♻️ refactor(HAT-326): 내 게시물조회
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/controller/PostController.java
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/service/ExternalPostService.java
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/service/dto/response/PostResponseDto.java
  community-app-external-api/src/test/java/io/howstheairtoday/appcommunityexternalapi/service/ExternalPostServiceTest.java
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/repository/PostRepository.java
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/service/DomainCommunityService.java
  community-domain-rds/src/test/java/io/howstheairtoday/communitydomainrds/repository/PostRepositoryTest.java
Labels: 🔰BE, 📬 API, ♻ Refactor

#71 ✨ feat(HAT-47): 미세먼지 주간예보 batch
  air-quality-app-batch/src/main/java/io/howstheairtoday/AirQualityAppBatchApplication.java
  air-quality-app-batch/src/main/java/io/howstheairtoday/airqualityappbatch/config/BatchConfiguration.java
  air-quality-app-batch/src/main/java/io/howstheairtoday/airqualityappbatch/config/PMForecastBatchConfiguration.java
  air-quality-app-batch/src/main/java/io/howstheairtoday/airqualityappbatch/listener/JobCompletionNotificationListener.java
  air-quality-app-batch/src/main/java/io/howstheairtoday/airqualityappbatch/scheduler/PMForecastSchedulerConfiguration.java
  air-quality-app-batch/src/main/java/io/howstheairtoday/airqualityappbatch/scheduler/SchedulerConfiguration.java
  air-quality-app-batch/src/main/java/io/howstheairtoday/airqualityappbatch/service/AirQualityRealTimeService.java
  air-quality-app-batch/src/main/java/io/howstheairtoday/airqualityappbatch/util/PMForecastDtoToEntityConverter.java
  air-quality-app-batch/src/main/java/io/howstheairtoday/airqualityappbatch/util/PMForecastEntityToDtoConverter.java
  air-quality-client/src/main/java/io/howstheairtoday/airqualityclient/config/LoggingInterceptor.java
  air-quality-domain-rds/build.gradle
  air-quality-domain-rds/src/main/java/io/howstheairtoday/airqualitydomainrds/entity/BaseEntity.java
  air-quality-domain-rds/src/main/java/io/howstheairtoday/airqualitydomainrds/entity/PMForecast.java
Labels: 🔰BE, 📚 DB, ✨ Feature

#72 ♻️ refactor(HAT-333): 게시물업데이트로직수정
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/controller/PostController.java
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/service/ExternalPostService.java
Labels: 🔰BE, 📬 API, ♻ Refactor

#74 ✨ feat(HAT-68): 미세먼지/초미세먼지 주간예보 조회
  air-quality-app-batch/src/main/java/io/howstheairtoday/airqualityappbatch/config/PMForecastBatchConfiguration.java
  air-quality-app-external-api/build.gradle
  air-quality-app-external-api/src/docs/asciidoc/index.adoc
  air-quality-app-external-api/src/docs/asciidoc/overview.adoc
  air-quality-app-external-api/src/main/java/io/howstheairtoday/appairqualityexternalapi/common/ApiResponse.java
  air-quality-app-external-api/src/main/java/io/howstheairtoday/appairqualityexternalapi/controller/AirQualityController.java
  air-quality-app-external-api/src/main/java/io/howstheairtoday/appairqualityexternalapi/service/PMForecastService.java
  air-quality-app-external-api/src/main/java/io/howstheairtoday/appairqualityexternalapi/service/dto/response/PMForecastData.java
  air-quality-app-external-api/src/main/java/io/howstheairtoday/appairqualityexternalapi/service/dto/response/PMForecastResponse.java
  air-quality-app-external-api/src/main/java/io/howstheairtoday/appairqualityexternalapi/util/PMForecastEntityToDtoConverter.java
  air-quality-app-external-api/src/test/java/io/howstheairtoday/airqualityappexternalapi/common/AbstractRestDocsTests.java
  air-quality-app-external-api/src/test/java/io/howstheairtoday/airqualityappexternalapi/config/RestDocsConfiguration.java
  air-quality-app-external-api/src/test/java/io/howstheairtoday/airqualityappexternalapi/controller/AirQualityControllerTest.java
  air-quality-app-external-api/src/test/java/io/howstheairtoday/airqualityappexternalapi/controller/AirQualityRealTimeControllerTest.java
  air-quality-domain-rds/src/main/java/io/howstheairtoday/airqualitydomainrds/repository/PMForecastRepository.java
  community-app-external-api/build.gradle
  community-app-external-api/src/docs/asciidoc/index.adoc
  community-app-external-api/src/docs/asciidoc/overview.adoc
  community-app-external-api/src/test/java/io/howstheairtoday/appcommunityexternalapi/common/AbstractRestDocsTests.java
  community-app-external-api/src/test/java/io/howstheairtoday/appcommunityexternalapi/config/RestDocsConfiguration.java
  community-app-external-api/src/test/java/io/howstheairtoday/appcommunityexternalapi/controller/CommentControllerTest.java
  member-app-external-api/build.gradle
  member-app-external-api/src/docs/asciidoc/index.adoc
  member-app-external-api/src/docs/asciidoc/overview.adoc
  member-app-external-api/src/test/java/io/howstheairtoday/memberappexternalapi/common/AbstractRestDocsTests.java
  member-app-external-api/src/test/java/io/howstheairtoday/memberappexternalapi/config/RestDocsConfiguration.java
Labels: 🔰BE, 📬 API, 📃 Docs, ✨ Feature, ✅ Test, ⚙ Setting

#76 ♻️ refactor(HAT-340): 게시물좋아요수정및인기게시글수정
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/controller/PostController.java
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/service/ExternalPostService.java
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/service/dto/response/PostResponseDto.java
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/querydsl/PostQslImpl.java
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/repository/PostQslRepository.java
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/service/DomainCommunityService.java
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/service/dto/PostDomainResponseDto.java
Labels: 🔰BE, 📬 API, ♻ Refactor

#77 ✨ feat(HAT-341): 회원 Controller Test
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/service/dto/request/ChangePasswordRequestDto.java
  member-app-external-api/src/main/java/io/howstheairtoday/memberappexternalapi/service/dto/request/ModifyNicknameRequestDto.java
  member-app-external-api/src/test/java/io/howstheairtoday/memberappexternalapi/controller/AuthControllerTest.java
Labels: 🔰BE, ✅ Test

#78 ♻️ refactor: post URL 경로도 체크할 수 있도록 예외 경로 삭제
  module-security/src/main/java/io/howstheairtoday/filter/TokenCheckFilter.java
Labels: 🔰BE, 🎭 Accessibility, ⚙ Setting, ♻ Refactor

#79 ♻️ refactor(HAT-360): 실시간 대기 정보 랭킹 API 수정
  air-quality-app-external-api/src/docs/asciidoc/index.adoc
  air-quality-app-external-api/src/main/java/io/howstheairtoday/appairqualityexternalapi/controller/AirQualityController.java
  air-quality-app-external-api/src/main/java/io/howstheairtoday/appairqualityexternalapi/service/dto/response/AirQualityRankingResponse.java
  air-quality-app-external-api/src/test/java/io/howstheairtoday/airqualityappexternalapi/controller/AirQualityControllerTest.java
Labels: 🔰BE, 📬 API, 📃 Docs, ♻ Refactor

#80 🐛 fix(HAT-356): 게시물 좋아요 수정
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/service/ExternalPostService.java
  community-app-external-api/src/main/java/io/howstheairtoday/appcommunityexternalapi/service/dto/response/PostResponseDto.java
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/entity/Like.java
  community-domain-rds/src/main/java/io/howstheairtoday/communitydomainrds/querydsl/PostQslImpl.java
Labels: 🔰BE, 🐞 BugFix
